<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- ↓の#に読み込みたいCSSファイル名を入れて下さい-->
    <link rel="stylesheet" href="./css/reset.css">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>css-check</title>
</head>
<body>
  <!--ナビゲーション-->
  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li><button  class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #my-id"></button></li>
          <li><a href="./index.html" class="uk-navbar-item uk-logo">Logo</a></li>
        </ul>
      </div>
      <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
              <li><a href="./user-info.html">ユーザー情報</a></li>
              <li><a href="#">ログアウト</a></li>
          </ul>
      </div>
  </nav>
  <!--色々な要素の表示確認用-->
  <h1>見出し１</h1>
  <h2>見出し２</h2>
  <h3>見出し３</h3>
  <p>テキスト</p>
  <a href="#">リンク</a>
  <p><strong>太字</strong></p>
  <p><small>小文字</small></p>
  <ul>
    <li>リスト1</li>
    <li>リスト2</li>
    <li>リスト3</li>
  </ul>
  <ol>
    <li>順序リスト1</li>
    <li>順序リスト2</li>
    <li>順序リスト3</li>
  </ol>
  <form>
    <div>
      <input class="uk-input" type="text" value="1行テキストボックス">
    </div>
    <div>
      <input class="uk-button" type="submit">
    </div>
    <div>
      <label><input type="checkbox">チェックボックス</label>
    </div>
  </form>
</body>
</html>